@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    width: 1415px;
    margin: auto;
}

header h3{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.head-btn{
    color: var(--Dark-02, #424242);
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.head-btn::after{
    cursor: pointer;
    color: #424242;
}

nav a:hover{
    cursor: pointer;
    color: #FF900E;
}

.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 862px;
    margin: auto;
    margin-bottom: 150px;
}

.banner h1{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner p{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.banner-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-btn:hover{
    background: transparent;
    color: #FF900E;
    border: solid #FF900E 2px;
    cursor: pointer;
}

.banner-btn::after{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

header img{
    border-radius: 8px;
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
}

.first{
    width: 1318px;
    height: 708px;
    display: flex;
    gap: 76px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 130px;
}

.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
    width: 708px;
    height: 708px;
}

.qu-li{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.our{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feat{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first .content p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.facts{
    width: 1440px;
    height: 560px;
    margin: auto;
}

.facts h3{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.facts p{
    width: 542px;
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.facts-container .card-stats{
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.facts-container .cardtitle{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.facts-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.facts-container .card img{
    width: 45.221px;
    height: 45.222px;
}

.facts-container .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 241.831px;
    height: 241.831px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.sponsor{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 130px;
}

.sponsor-up h3{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sponsor-up p{
    width: 542px;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: auto;
    margin-top: 24px;
}

.sponsor-logos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 155.24px;
    margin-top: 50px;
}

footer{
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #FFF4E7;
    margin: auto;
    margin-bottom: 216px;
}

footer p{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}

@media screen and (max-width: 576px) {

    body{
        margin: auto;
        width: 100%;
    }

    header{
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 144, 14, 0.10);
        padding: 0;
        width: 100%;
        margin: auto;
    }
    
    nav{
        display: flex;
        flex-direction: column;
    }

    .banner{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-bottom: 150px;
    }

    header img{
        border-radius: 8px;
        width: 450px;
        height: 245px;
        margin-bottom: 45px;
        margin: auto;
    }

    .first{
        width: 100%;
        height: 708px;
        display: flex;
        gap: 76px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 85px;
        margin-bottom: 130px;
    }

    .images{
        display: flex;
        flex-direction: column;
    }

    .images img{
        width: 171px;
        height: 171px;
    }

    .facts{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .facts p{
        width: 100%;
        color: var(--Dark-03, #727272);
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin: 0;
    }

    .facts-container .card img{
        width: 30px;
        height: 30px;
    }

    .facts-container .card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 241.831px;
        height: 241.831px;
        border-radius: 8px;
        border: none;
    }

    .facts-container{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .sponsor-up p{
        width: 100%;
    }

    .sponsor-logos{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    footer{
        width: 100%;
        height: 150px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #FFF4E7;
        margin: auto;
        margin-bottom: 216px;
    }
    
    footer p{
        color: var(--Dark-02, #424242);
        text-align: center;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    body{
        margin: auto;
        width: 100%;
    }

    header{
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 144, 14, 0.10);
        padding: 0;
        width: 100%;
        margin: auto;
    }

    .banner{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-bottom: 150px;
    }

    header img{
        border-radius: 8px;
        width: 720px;
        height: 350px;
        margin-bottom: 45px;
        margin: auto;
        display: flex;
    }

    .first{
        width: 100%;
        height: 708px;
        display: flex;
        flex-direction: column;
        gap: 76px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 85px;
        margin-bottom: 130px;
    }

    .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 24px;
    }

    .images img{
        width: 171px;
        height: 171px;
    }
    
    .facts{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .facts p{
        width: 100%;
        color: var(--Dark-03, #727272);
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin: 0;
    }

    .facts-container .card img{
        width: 30px;
        height: 30px;
    }

    .facts-container .card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 241.831px;
        height: 241.831px;
        border-radius: 8px;
        border: none;
    }

    .facts-container{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .sponsor-up p{
        width: 100%;
    }

    .sponsor-logos{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    footer{
        width: 100%;
        height: 150px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #FFF4E7;
        margin: auto;
        margin-bottom: 216px;
    }
    
    footer p{
        color: var(--Dark-02, #424242);
        text-align: center;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: auto;
    }
}